<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav> 
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Virtual Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/news">News</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
