
.container{
    margin: 0 450px;
    height: 510px;
    border: 3px solid black;
    color: white;
    text-align: center;
    line-height: 170px;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
}

.item-1{
    background-color:red ;
    width: 170px;
  
}

.item-2{
    background-color:blue ;
    width: 170px;
    
}

.item-3{
    background-color:green;
    width: 170px;
   
}