
.container{
    margin: 0 450px;
    border: 3px solid black;
    color: white;
    display:inline-flex;
    flex-direction: column;
    align-items: flex-end;
    width: 510px;
    flex-wrap: nowrap;
    
}

.item{
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
}
.uno{
    background-color:red ;  
   
}

.dos{
    background-color:blue ; 
}

.tres{
    background-color:green;
}