body{
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    margin-left: 25%;
    margin-top: 5%;
}

form{
    border: 5px solid black;
    box-shadow: 6px 6px #e3e0e0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.form-header{
    text-align: center;
}
textarea {
    width: 70%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-left: 70px;
  }
.botones
{
    text-align: center;
}
.botones input{
   
    background-color: #f8f8f8;
    text-transform: uppercase;
    font-weight: bold;
    
}
input{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}