.row{
    background-color: aliceblue;
}

.carousel-item > img{
    height:500px;
    width: 800px;
}

.carousel-caption {
    position: absolute;
     right: 0%; 
    bottom: 20px;
    left: 0%; 
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right; 
}

#carouselExampleFade{
    width: auto;
}

